inc/ver/versions.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<!-- 
     $Id$
     
     Copyright (C) 2008 Dorothea Wachmann
     
     This program is free software: you can redistribute it and/or modify
     it under the terms of the GNU General Public License as published by
     the Free Software Foundation, either version 3 of the License, or
     (at your option) any later version.
     
     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU General Public License for more details.
     
     You should have received a copy of the GNU General Public License
     along with this program.  If not, see http://www.gnu.org/licenses/.
  -->

<xs:schema xmlns="urn:bvr20983" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="urn:bvr20983" 
           elementFormDefault="qualified"
>
  <xs:annotation>
    <xs:documentation xml:lang="en">
      documents the relations between product, component and type
      and the relation of the different versions.
    </xs:documentation>
  </xs:annotation>
  
  <xs:element name="versions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="parameter" type="parameterType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="product"   type="productType" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="parameterType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="productType">
    <xs:sequence>
      <xs:element name="versionhistory"  type="versionHistoryType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="name"            type="xs:string"/>
      <xs:element name="no"              type="xs:string"/>
      <xs:element name="company"         type="xs:string"/>
      <xs:element name="copyright"       type="xs:string"/>
      <xs:element name="filename"        type="xs:string"/>
      <xs:element name="patch"           type="patchType"             minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="component"       type="componentType"         minOccurs="1" maxOccurs="unbounded"/>
      <xs:element name="registryentries" type="registryEntriesType"   minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="id"        type="xs:ID"      use="required"/>
    <xs:attribute name="commit"    type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="componentType">
    <xs:sequence>
      <xs:element name="version"   type="versionType"  minOccurs="0" />
      <xs:element name="name"      type="xs:string"/>
      <xs:element name="no"        type="xs:string"    minOccurs="0" />
      <xs:element name="filename"  type="xs:string"/>
      <xs:element name="shortcut"  type="shortcutType" minOccurs="0" />
      <xs:element name="patch"     type="patchType"    minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="type"      type="typeType"     minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="typelib"   type="typelibType"  minOccurs="0"/>
    </xs:sequence>

    <xs:attribute name="id"   type="xs:ID"        use="required"/>
    <xs:attribute name="type" type="comptypeType" use="required"/>
  </xs:complexType>

  <xs:complexType name="registryEntriesType">
    <xs:sequence>
      <xs:element name="registry" type="registryType"   minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id"   type="xs:ID"        use="required"/>
  </xs:complexType>

  <xs:complexType name="registryType">
    <xs:sequence>
      <xs:element name="key"   type="registryKeyType"/>
      <xs:element name="name"  type="xs:string" minOccurs="0"/>
      <xs:element name="value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="registryKeyType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="hive" type="hiveType" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="typeType">
    <xs:sequence>
      <xs:element name="version"   type="versionType"/>
      <xs:element name="no"        type="xs:string"/>
      <xs:element name="guid"      type="xs:string"/>
    </xs:sequence>

    <xs:attribute name="id"     type="xs:ID"      use="required"/>
    <xs:attribute name="typeid" type="xs:NMTOKEN" use="required"/>
  </xs:complexType>

  <xs:complexType name="typelibType">
    <xs:sequence>
      <xs:element name="version"   type="versionType"/>
      <xs:element name="no"        type="xs:string"/>
      <xs:element name="guid"      type="xs:string"/>
      <xs:element name="patch"     type="patchType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>

    <xs:attribute name="id"     type="xs:ID"      use="required"/>
    <xs:attribute name="typeid" type="xs:NMTOKEN" use="required"/>
  </xs:complexType>

  <xs:complexType name="patchType">
    <xs:sequence>
      <xs:element name="pattern"   type="patternType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>

    <xs:attribute name="template"  type="xs:string"/>
    <xs:attribute name="filename"  type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="patternType">
    <xs:sequence>
      <xs:element name="key"      type="xs:string"/>
      <xs:element name="value"    type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="versionType">
    <xs:attribute name="major" type="xs:nonNegativeInteger" use="required"/>
    <xs:attribute name="minor" type="xs:nonNegativeInteger" />
    <xs:attribute name="fix"   type="xs:nonNegativeInteger" />
    <xs:attribute name="build" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="versionHistoryType">
    <xs:sequence>
      <xs:element name="version" type="productVersionType"  minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="productVersionType">
    <xs:sequence>
      <xs:element name="msipackagecode" type="xs:string"         minOccurs="0" />
      <xs:element name="msiproductcode" type="xs:string"         minOccurs="0" />
      <xs:element name="msicomponent"   type="xs:string"         minOccurs="0" />
      <xs:element name="msiupgradecode" type="xs:string"         minOccurs="0" />
      <xs:element name="msipatchcode"   type="xs:string"         minOccurs="0" />
      <xs:element name="msino"          type="xs:string"         minOccurs="0" />
      <xs:element name="msifeatures"    type="msiFeaturesType"   minOccurs="0" maxOccurs="1"/>
      <xs:element name="msiproperties"  type="msiPropertiesType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="msipatch"       type="msiPatchType"      minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="major"    type="xs:nonNegativeInteger" use="required"/>
    <xs:attribute name="minor"    type="xs:nonNegativeInteger" use="required"/>
    <xs:attribute name="fix"      type="xs:nonNegativeInteger" use="required"/>
    <xs:attribute name="build"    type="xs:nonNegativeInteger" use="required"/>
  </xs:complexType>

  <xs:complexType name="msiFeaturesType">
    <xs:sequence>
      <xs:element name="msifeature"     type="msiFeatureType"   minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="msiFeatureType">
    <xs:sequence>
      <xs:element name="msifeature"     type="msiFeatureType"   minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="msicomponent"   type="msiComponentType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id"          type="xs:string"             use="required"/>
    <xs:attribute name="title"       type="xs:string"             use="required"/>
    <xs:attribute name="description" type="xs:string"             use="required"/>
    <xs:attribute name="directory"   type="xs:string"             />
    <xs:attribute name="level"       type="xs:nonNegativeInteger" use="required"/>
    <xs:attribute name="attribute"   type="xs:nonNegativeInteger" use="required"/>
  </xs:complexType>

  <xs:complexType name="msiPatchType">
    <xs:sequence>
      <xs:element name="msipatchmetadata"     type="msiMetadataType"   minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="msiMetadataType">
    <xs:sequence>
      <xs:element name="msiproperty"     type="msiPropertyType"   minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="msiPropertiesType">
    <xs:sequence>
      <xs:element name="msiproperty"     type="msiPropertyType"   minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="msiPropertyType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="key" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="msiComponentType">
    <xs:attribute name="compid"      type="xs:string"             use="required"/>
  </xs:complexType>

  <xs:simpleType name="comptypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="dll"/>
      <xs:enumeration value="exe"/>
      <xs:enumeration value="dir"/>
      <xs:enumeration value="file"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="hiveType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HKEY_CURRENT_USER"/>
      <xs:enumeration value="HKEY_LOCAL_MACHINE"/>
      <xs:enumeration value="HKEY_CLASSES_ROOT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="guidTYPE">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-F]{8}-[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="revType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,10}|\$\{.*\}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="shortcutType">
    <xs:attribute name="featureid"   type="xs:string"             use="required"/>
    <xs:attribute name="name"        type="xs:string"             use="required"/>
    <xs:attribute name="directoryid" type="xs:string"             use="required"/>
    <xs:attribute name="icon"        type="xs:string"             use="required"/>
    <xs:attribute name="iconindex"   type="xs:nonNegativeInteger" use="required"/>
  </xs:complexType>

</xs:schema>
